<h1>Dashboard</h1>

<h4>Welcome @User.Identity.Name</h4>
<ul>
    <li>
        <a asp-action="Positions">Positions</a>
    </li>
    <li>
        <a asp-action="Aspirants">Aspirants</a>
    </li>
</ul>