@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please proceed <a class="btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">here</a> to get started...</p>
</div>
